.fix {font-family:Verdaba,Arial,新細明體; font-weight:normal; font-size:9pt; line-height:16pt;}

H1 {font-family:新細明體; font-size:10pt; font-weight:normal; line-height:14pt; text-indent:26px; text-align:justify}

H2 {font-family:新細明體; font-size:10pt; font-weight:normal; line-height:16pt; text-align:left}

H3 {font-family:新細明體; font-size:12pt; font-weight:normal; line-height:16pt; text-indent:32px; text-align:left}

H4 {font-family:Arial; font-size:10pt;}

H5 {font-family:新細明體; font-size:10pt;}

.cfc {font-family:新細明體; font-size:12pt; line-height:200; text-align:justify}
